{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
    <div class="form-group">
        <label for="name">Name:</label>
        {{ form_widget(edit_form.name,{
            'attr':{
                'class':'form-control',
                'style': 'width: 10%; margin-top: 10px; margin-bottom: 5px;',
                'placeholder': 'Task name'
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(edit_form.name) }}
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        {{ form_widget(edit_form.address,{
            'attr':{
                'class':'form-control',
                'style': 'width: 10%; margin: 5px;',
                'placeholder': 'Address'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone:</label>
        {{ form_widget(edit_form.phoneNumber,{
            'attr':{
                'class':'form-control',
                'style': 'width: 10%; margin: 5px;',
                'placeholder': 'Phone'
            }
        }) }}
    </div>
    </div>
    <input type="submit" name="customer_edit" value="Edit" class="btn btn-primary"/>

    <ul style='list-style: none;'>
        <li>
        <a style="color:blue;" href="{{ path('customer_index') }}">Back to the list</a>
    </li>
    </ul>
    {{ form_end(edit_form) }}
{% endblock %}


